body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.contenitore {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    text-align: center;
    color: #080345;
}
h2 {
    font-size: 24px;
    text-align: center;
    color: #1c4262;
}

.evento {
    /*utilizzo le flexbox per adattare la grandezza delle immagini a quello della descrizione dell'evento, che altrimenti risulterebbe
    sproporzionato nelle misure --> link per le flexbox: https://www.w3schools.com/css/css3_flexbox_container.asp*/
    /*display: flex; */
    margin-bottom: 20px;
    padding: 20px; 
    background-color: #efefef;
    border-radius: 8px;
    overflow: hidden; 
}

.evento img {
    /*modificando il tasto ispeziona fino a quando non si ottiene un'immagine più o meno corretta*/
    max-width: 200px;
    height: fit-content;
    width: fit-content;
    margin-right: 20px;
    border-radius: 8px;
    /*aumento il margine di sotto dell'immagine in modo che il testo della descrizione non vada ad inserirsi subito sotto l'immagine*/
    
    float: left;
}

.evento .descrizione {
    display: flex;
    flex: 1; 
    color: #333;
    /*imposta la spaziatura dei caratteri nella pagina*/
    line-height: 1.3;

}
/* .scadenza{
    clear: both;
    //con display block mando a capo la scadenza e questa dovrebbe occupare tutto lo spazio disponibile nella riga
    display: block;
    text-align: left;
    margin-top: 10px;
    color: #666;
    //inserisco clear both per mandare a capo la data ed inserirla subito sotto l'immagine
    }*/

.scadenza {
    clear: both;
    display: block;
    text-align: left;
    margin-top: 40px;
    color: #666;
}
.contatore {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.contatore input[type=button] {
    width: 30px;
    height: 30px;
    background-color: #4ba7f8;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.contatore input[type=button]:hover {
    background-color: #0056b3;
}

.contatore input {
    width: 50px;
    height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 16px;
}

/*utilizzo come sempre sans-serif quando non sono in stampa*/
.costoBiglietto{
    color: rgb(52, 70, 212);
    font-family: sans-serif;
    margin: auto;
    font-style: italic;
    /*meglio più opaco*/
    opacity: 0.6;
}
.bottoniFinali {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border-top: 1px solid #ddd;
}

.bottoniFinali input[type="submit"],
.bottoniFinali input[type="reset"] {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.bottoniFinali input[type="submit"] {
    background-color: #5e4caf; 
    color: white;
}

.bottoniFinali input[type="reset"] {
    background-color: #36bef4; 
    color: white;
}

.bottoniFinali input[type="submit"]:hover{
    background-color: #080345;
}
.bottoniFinali input[type="reset"]:hover {
    background-color: #0545d9;
}
.costoTotale{
    margin-top: 30px;
    clear: both;
    color:#1c4262
}
@media print {
    /*inserisco il font serif che è caratteristico della stampa*/
    body{
        font-family: serif;  
    }
    .evento {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .evento img {
        margin: 0 0 10px 0;
    }

    .evento .descrizione {
        text-align: left;
    }
}
/*dalle slide + appunti: clear non accetta altri contenitori flottanti ai lati mentre float crea dei contenitori 
mobili che possono essere posizionati utilizzando float left, right etc.*/
